@font-face {
    src: url("../html/fonts/Poppins-Regular.ttf");
    font-family: "regular";
}

@font-face {
    src: url("../html/fonts/Poppins-Medium.ttf");
    font-family: "medium";
} 

@font-face {
    src: url("../html/fonts/Poppins-Bold.ttf");
    font-family: "bold";
}

*{
    overflow: hidden !important;
}

html {
    user-select: none;  
}
  
body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0vw;
    background: transparent;
}

.feedback-container::-webkit-scrollbar {
    width: .3vw;
    border-radius: 1vw;
}

.feedback-container::-webkit-scrollbar-track {
    background: #7B7B7BCC;
    border-radius: 1vw;
}

.feedback-container::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 1vw;
}

.feedback-container::-webkit-scrollbar-thumb:hover {
  background: white; 
  border-radius: 1vw;
}

.color-text {
    color: #FFF;
    font-family: regular;
    text-align: center;
    font-size: .7292vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.plate-input {
    color: rgb(22, 103, 255);
    font-family: medium;
    text-align: center;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.plate-input::placeholder {
    color: rgba(22, 104, 255, 0.541);
    font-family: medium;
    text-align: center;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search-input {
    color: #FFF;
    font-family: regular;
    font-size: .8333vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search-input::placeholder {
    color: #ffffff;
    font-family: regular;
    font-size: .8333vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity:  0.74;
}